.card 
{
    width: 233px;

    &__bookmark 
    {
        color: $whiteTrans;
        padding: 15px;
        position: absolute;
    }

    &__date 
    {
        color: $greyDark;
        font-size: 0.9rem;
    }

    &__footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__header
    {
        height: 350px;
        position: relative;
    }

    &__image
    {
        height: 100%;
        object-fit: cover;
        width: 100%;
        position: absolute;
    }

    &__link 
    {
        color: $black;
        text-decoration: none;
        transition: ease all .3s;

        &:hover
        {
            color: $menuHover;
        }
    }

    &__rating
    {
        color: $greyDark;
        font-size: 0.9rem;
    }

    &__title 
    {
        font-family: $main-font;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 5px 0;
    }
}

.theater
{
    width: 333px;

    &__header
    {
        height: 500px;
    }

    &__title
    {
        font-size: .9rem;
        text-align: center;
    }
}
