.cardslist
{
    &__title
    {
        color: $black;
        font-family: $title-font;
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 25px;
        padding: 15px;
        text-transform: uppercase;
    }
    
    &__cards
    {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}



