.cardslist
{
    &__cards
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    &__link
    {
        color: $black;
        font-family: $title-font;
        font-size: .9rem;
        margin: 0 15px;
        text-decoration: none;

        &--active
        {
            color: $menuHover;
        }
    }

    &__menu
    {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    &__title
    {
        color: $black;
        font-family: $title-font;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

}



