.wrapper
{
    margin: 20px auto;
    width: 90%;
}

.cast
{
    margin: 20px auto;
    width: 90%;

    &__body
    {
        display: flex;
        overflow: auto;
    }

    &__card 
    {
        margin: 5px;
        width: 138px;
    }

    &__name
    {
        color: $black;
        font-size: 1rem;
        text-align: center;
    }

    &__title
    {
        color: $black;
        font-family: $title-font;
        margin: 10px 0;
    }

    &__character
    {
        color: $greyDark;
        font-size: .9rem;
        text-align: center;
    }
}



