.cast
{
    display: flex;
    overflow: auto;
    // white-space: nowrap;
}

.wrapper
{
    width: 90%;
    margin: 20px auto;
}

.cast__card 
{
    width: 138px;
    margin: 5px;
}

.cast__name
{
    color: $black;
    font-size: 1rem;
    text-align: center;
}

.cast__title
{
    margin: 10px 0;
    color: $black;
    font-family: $title-font;
}

.cast__character
{
    color: $greyDark;
    font-size: .9rem;
    text-align: center;
}