.fa
{
    &-bookmark
    {
        cursor: pointer;
        font-size: 1.5rem;
        transition: ease-in-out all .2s;
    
        &:hover
        {
            transform: scale(1.2);
        }
    }

    &-facebook-f
    {
        &:hover
        {
            color: #4A93D0;
        }
    }

    &-film
    {
        font-size: 1.5rem;
    }
    
    &-star
    {
        color: $menuHover;
        margin: 0 4px;
    }
    &-tiktok
    {
        &:hover
        {
            color: #65c3c9;
        }
    }
    &-twitter
    {
        &:hover
        {
            color: #81CFEC;
        }
    }
}






