@media only screen and (max-width: 1520px) {

    .slider__wrapper
    {
        .cardslist__cards 
        {
            flex-wrap: nowrap;
        }
    }

    main
    {
        .cardslist:last-of-type
        {
            width: 80%;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 920px) {
    
    
    .slider__wrapper
    {
        .slider__button
        {
            width: 130px;
        }

        .cardslist__cards 
        {
            flex-wrap: wrap;
    
            .card
            {
                &--slider
                {
                    width: 200px;
                }
            
                &__header--slider
                {
                    height: 300px;
                }
            }
        }
    }

    .header
    {
        & &__title
        {
            font-size: 6rem;
            background-image: url(../images/background-ipad.jpg);
        }
    }

    #root
    {
        .flex-container
        {
            margin: 50px 60px;
        }
    }
}

@media only screen and (max-width: 414px) {
    
    #root
    {
        padding-top: 100px;

        .bookmark__empty
        {
            font-size: 4rem;
        }
    }

    .header
    {
        & &__title
        {
            background-image: url(../images/background-mobile.jpg);
            font-size: 4rem;
        }
    }

    .navbar
    {
        & &__item:last-of-type
        {
            width: 100%;
            padding: 5px;
        }
    
        & &__menu
        {
            justify-content: center;
        }
    }


    .searchbar__icon
    {
        display: none;
    }

    .overview__poster
    {
        display: none;
    }

    .watchNow
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin: 30px !important;
    }

    .slider__wrapper
    {
        .slider
        {
            &__button
            {
                display: none;
            }
        }

        .cardslist__cards--slider
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0;
            overflow: auto;
        }
    }

    .cardslist
    {
        .slider__pagination
        {
            display: none;
        }

        &__title
        {
            text-align: center;
        }
    }

    .card__bookmark--slider
    {
        text-align: center;
    }


    .overview__header
    {
        margin: 20px 0;
    }

    .overview__data
    {
        .overview__time
        {
            display: none;
        }
    }
}