.searchbar
{
    display: flex;
    padding: 0px 20px;
    align-items: center;

    &__input
    {
        background: $black;
        border: none;
        caret-color: $grey;
        color: $whiteTrans;
        outline: none;
        padding: 10px;
        padding-left: 20px;
        width: 300px;

        &::placeholder
        {
            color: $whiteTrans;
        }
    }

    &__button
    {
        background: none;
        border: none;
    }

    &__icon
    {
        color: $whiteTrans;
        font-size: 1.8rem;

        &:hover
        {
            color: $menuHover;
            cursor: pointer;
        }
    }

    .language
    {
        background: none;
        border: none;
        color: $whiteTrans;
        font-family: $main-font;
        font-size: 0.85rem;
        outline: none;

        &:hover
        {
            cursor: pointer;
        }

        &__option
        {
            background: $black;
            border: none;
            outline: none;
            padding: 5px;
        }
    }
}




