// Colors

$menuHover:     #f27373;

// Gradients

$black:         #333;
$blackTrans:    rgba(0, 0, 0, .5);
$grey:          #ededed;
$greyLight:     #aaa;
$greyDark:      #939393;
$white:         #fff;
$whiteTrans:    rgba(255, 255, 255, .8);

// Font

$source:        'Source Sans Pro', sans-serif;
$montserrat:    'Montserrat', sans-serif;

$main-font:      $source;
$title-font:     $montserrat;