.watchNow
{
    background: $black;
    margin: 50px;
    padding: 30px;

    &__category
    {
        color: $whiteTrans;
        font-family: $montserrat;
        font-size: 1.2rem;
        margin: 10px 0;
    }

    &__info
    {
        text-align: center;
        width: 300px;
    }
}
