.watchNow
{
    background: #333;
    padding: 30px;
    margin: 50px;
}

.watchNow__info
{
    text-align: center;
}

.watchNow__category
{
    margin: 10px 0;
    font-family: $montserrat;
    font-size: 1.2rem;
    color: $whiteTrans;
}